<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="300">

    <Properties>

    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter  level="error" onMatch="ACCEPT" onMismatch="NEUTRAL"></ThresholdFilter>
                <ThresholdFilter  level="trace" onMatch="ACCEPT" onMismatch="DENY"></ThresholdFilter>
            </Filters>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"></PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <!-- sample0 begain-->
       <!-- <Logger name="mylog" level="trace" additivity="false">
            <AppenderRef ref="Console"></AppenderRef>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"></AppenderRef>
        </Root>-->
        <!-- sample0 end-->
        <!-- sample1 begain -->
        <Logger name="log4j2.sample1.Bar" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
        <!-- sample1 end -->
    </Loggers>
</Configuration>